version: '3.3'

services:
  service-news:
    image: video-transcoding
    build:
      context: .
      dockerfile: Dockerfile
      shm_size: '2gb' # this will set the size when BUILDING
    shm_size: '2gb' # when RUNNING
    container_name: video-transcoding
    volumes:
      - ./assets:/assets
      - ./app:/workdir
    privileged: true
    cap_add:
      - NET_ADMIN
    ports:
      - 5001:5000
    environment:
      PYTHONUNBUFFERED: "0"
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.90'
          memory: 10240M
        reservations:
          # cpus: '0.25'
          memory: 4096M
      restart_policy:
        condition: on-failure
    command:
      - watchmedo
      - auto-restart
      - --directory=/var/task
      - --pattern=*.py
      - --recursive
      - --
      - python3
      - -u # force the stdout and stderr streams to be unbuffered; this option has no effect on stdin
      - run.py
